body{
    font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.35;
    min-height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}
.top_section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.brandLogoIntuit{
    padding: 7px 20px;
}
.coBrandedNav  svg path:not(.svg_logo) {
    fill: #575757;
}
.brandLogoMailchimp{
    padding-left: 20px;
}
aside{
    font-size: .8125rem;
    display: flex;
    color: #fff;
    text-align: center;
    background-color: #231e15;
    height: auto;
    padding: .75rem 1rem;
    align-items: center;
    justify-content: center;
}
aside a{
    color: #fff;
    border-bottom: .0625rem dashed;
    text-decoration: none;
}
aside a:hover{
    border-bottom: none;
}
nav{
    background-color: white;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 30px; */
}
nav li{
    /* height: 50px;    */
}
.mc_logo svg{
    width: 140px;
    padding: 3px 0px 0px 17px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 90px;
    padding-top:30px ;
}
.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
}
.menu-btn{
    display: none;
}
.dropdown{
    display: flex;
}
 .dropdown {
        position: relative;
        display: inline-block;
        border: 1px solid #ccc;
        padding: 5px;
        cursor: pointer;
    }

    .dropcontent {
        display: none; /* Hide the full dropdown by default */
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown:hover .dropcontent {
        display: block; /* Show the dropdown on hover */
    }

    #languageSelect {
        width: 100%;
        padding: 5px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .world {
        display: flex;
        align-items: center;
    }

    .world span {
        margin-right: 5px;
        font-size: 15px;
    }
    .right-end li{
        list-style-type:  none; 

    }
@media screen and (max-width: 800px){
    .hideonmobile{
        display: none;
    }
    .menu-btn{
    display: flex;
    }
    .mc_logo li:nth-child(6) {
         margin-left: auto;
    }
}