:root{
    --times-roman:mailchimp;
    --font-regular:regular;
    --font-fontone:font1;
    --graphik-web:font2;
    --font-header:font3;
    --font-fontfour:font4;
    --font-fontfive:font5;
}
body{
     font-family: var(--graphik-web);
    line-height: 1.35;
    min-height: 100vh;
    font-size: 1em;
    line-height: 1.35;
}
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:mailchimp;
    src: url('fonts/mailchimp.woff2');
}
@font-face {
    font-family: regular;
    src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: font1;
    src: url('fonts/ea9371020395bcec.woff2');
}
@font-face {
    font-family: font2;
    src: url('fonts/b4358c1049ee69f4.woff2');
}
@font-face {
    font-family: font3;
    src: url('fonts/c477e5e371f1219d.woff2');
}
@font-face {
    font-family: font4;
    src: url('fonts/f503b10a8b819ad9.woff2');
}
@font-face {
    font-family: font5;
    src: url('./fonts/f51a9d23faa81e19.woff2');
}
ul{
    list-style: none;
}
a{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;  
}
.chat{
    display: flex;
    position: fixed;
    bottom: 15px;
    right: 12px;
    z-index: 10000;
    width: 165px;
    height: 48px;
}
.chat-container{
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: black;
    color: white;
    padding: 13.5px;
    border-radius: 20px;
    
}
.chat-container h6{
    font-size: 15px;
    font-family: var(--font-fontfour);
}
.laptop_1440{
    display: block;
}
.laptop_1024{
    display: none;
}
.top_section{
    display: block;
    background: #fff;
    border-bottom: .0625rem solid #dedede;
    padding: 0.25rem 0.75rem;
    position: relative;
}
.top_section .top_section_logos{
    display: flex;
    padding-left: 0.5rem;
}
.top_section .top_section_list{
    margin-right: 1.5rem;
}
.top_section .top_section_img{
    padding: .25rem 0;
    line-height: 0;
    display: inline-block;
}
.top_section_img img{
    width: auto;
    height: 0.75rem;
}
.brandLogoIntuit{
    padding: 7px 20px;
}
.coBrandedNav  svg path:not(.svg_logo) {
    fill: #575757;
}
.brandLogoMailchimp{
    padding-left: 20px;
}
aside{
    font-size: 0.8125rem;
    display: flex;
    color: #fff;
    text-align: center;
    background-color: #231e15;
    height: auto;
    padding: 0.75rem 1rem;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--graphik-web)
}

aside a{
    color: #fff;
    border-bottom: .0625rem dashed;
    text-decoration: none;
}
aside a:hover{
    border-bottom: none;
}
header{
    z-index: 1000;
    height: calc(68*0.0625rem);
    margin-bottom: calc(-68*0.0625rem);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    
}
nav{
    background: #fff;
    z-index: 1000;
    height:calc(68*0.0625rem);
    position: relative;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
}
header .header_menu{
    flex-flow: row;
    justify-content: space-between;
    max-height: 2.71875rem;
    display: flex;
    
}
header .header_menu .left_ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.9375rem;
    width: 100%;
    font-family: var(--font-header);
}
.header_menu .left_ul a{
    color: #231e15;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0.1875rem;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.1;
    font-family: var(--font-header);
    display: flex;
    align-items: center;
}
.header_menu .left_ul img{
    width: auto;
    height: 2.875rem;
}
.header_menu .left_ul button{
    color: #231e15;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.5rem;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.1;
    display: inline-block;
    font-family: var(--font-header);
}
.header_menu .left_ul button::after{
    content: "";
    background: url(./Assets/arrowdown.svg) 50% / contain no-repeat;
    width: 0.75rem;
    height: 0.5rem;
    margin-left: 0.625rem;
    display: inline-block;
}
.left_ul_margin{
    padding: .5rem;
}
header .header_menu .right_ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.8375rem;
    font-family: var(--font-header);
}
.header_menu .right_ul .right_ul_con{
    color: #231e15;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0.1875rem;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.1;
    font-family: var(--font-header);
    display: inline-block;
}
.right_ul .search_icon{
    display: block;
}
.header_menu .right_ul .search_icon::before{
    content: "";
    background: url(./Assets/search_icon.svg) 50% / 1.25rem 1.25rem no-repeat;
    width: 1.25rem;
    height: 1.25rem;
    display: block;
}
.header_menu .right_ul .language_div{
    z-index: 10;
    position: relative;
    font-family: var(--font-header);
}
.header_menu .right_ul .language_select{
    align-items: center;
    column-gap: .125rem;
    list-style-type: none;
    display: flex;
    padding: 0.5rem;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.1;
    font-family: var(--font-header);
}
.right_ul .language_select span{
    align-items: center;
    gap: .125rem;
    font-size: .6875rem;
    font-weight: 500;
    display: flex;
    
    
}
.right_ul .phone_no{
    white-space: nowrap;

}
.right_ul .language_select span::before{
    content: "";
    background-image: url(./Assets/world.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.25rem;
    height: 1.25rem;
    display: block;
}
.right_ul .language_select span::after{
    content: "";
    background-image: url(./Assets/drop_down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: .75rem;
    height: .5rem;
    margin-left: .625rem;
    margin-top: 2px;
    display: inline-block;
}
 .login_color a{
    background-color:rgba(35, 30, 21, 0);
}
 .log_in a{
    padding: 12px 24px;
    text-align: center;
    box-sizing: border-box;
    color:#231e15 ;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 2em;
    box-shadow: 0 0 0 1 #231e15;
    display: inline-block;
    position: relative;
    transition: transform .3s cubic-bezier(.5,2.5,.7,.7), box-shadow .3s cubic-bezier(.5,2.5,.7,.7);
    transform: translateY(0);
    white-space: nowrap;
    font-family: var(--font-header);
    border: 1px solid;

}
 .log_in a::before{
    content: "";
    border-radius: 2em;
    width: 100%;
    height: 100%;
    transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    position: absolute;
    bottom: 0;
    left: 0;
}
 .sign_up a{
    background-color: #ffe01b;
}
.email1{
    width: 100%;
    height: auto;
    padding:148px 0 80px 0;
}
.email1 .e-wrap{
    max-width: calc(90%*calc(8/12));
    width: calc(calc(88.8889rem * .9)* calc(8/12));
    margin: 0 auto;
}
.email1 .email-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.e-con h1{
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.0625rem;
    color: #231e15;
    font-family: var(--font-fontone);
}
.e-con p{
    font-family:var(--graphik-web);
    font-size: 1.5rem;
    line-height: 1.333;
    letter-spacing: -.02rem;
    font-weight: 400;
    text-align: center;
    color: #231e15;
    margin-top: calc(16 * .0625rem);
}
.sign-up_marginT{
    margin-top: calc(40 * .0625rem);
}
.images .convert{
    position: relative;
    display: flex;
    flex-direction: column;
}
.images .create{
    position: relative;
    display: flex;
    flex-direction: column;
}
.images .refine{
    position: relative;
    display: flex;
    flex-direction: column;
}
.images .optimize{
    position: relative;
    display: flex;
    flex-direction: column;
}
.images .img-container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 1fr;
}
.img-container img{
    width: 100%;
    height: auto;
}

.img-container h2{
    position: absolute;
    top: 30px;
    color: black;
    font-size: 1.5rem;
    left: 40px;
    font-weight: 500;
    z-index: 2;
    font-family: var(--font-fontone);
    width: 79%;
}
.img-container h2:hover{
    text-decoration: underline;
}
.zoom-container {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.zoom-container img {
  transition: transform 0.5s ease;
  display: block;
  width: 100%;
  height: auto;
}

.zoom-container:hover img {
  transform: scale(1.1);
}
.explore {
    height: auto;
    overflow: visible;
}
.exp-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 1fr;
    overflow: visible;
}
.auto-head, .ai-head, .manage-head, .report-head {
    overflow: visible;
   
}
.auto p{
    overflow-wrap: break-word;
}
.auto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    height: auto;
    overflow: visible;
    flex: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
   padding: 40px;
    font-family: var(--graphik-web);
}

.move-up {
    /* background-color: black; */
    /* border-radius: 2em; */
    display: flex;
    align-items: center;
    margin-top:24px;
}
.auto-head a{
     background-color: #E3963E;
}
.ai-head a{
    background-color: #f6f6f6;
}
.manage-head a{
    background-color: #e6b95f
}
.report-head a{
    background-color: #ebe1cd;
}
.exp-container .auto .move-up a {
    text-align: center;
    box-sizing: border-box;
    color: #231e15;
    background: rgba(35,30,21,0);
    font-family: var(--font-header);
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 12px 24px;
    border-radius: 2em;
    border: 1px solid #231e15;
    position: relative;
    display: inline-block;
    transform: translateY(0);
    overflow: hidden;
}
.exp-container .auto .move-up a::before{
    content: "";
    border-radius: 2em;
    width: 100%;
    height: 100%;
    transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    position: absolute;
    bottom: 0;
    left: 0;
}
.exp-container .auto p{
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 400;
}
.exp-container .auto-head{
    background-color: #E3963E;
}
.exp-container .ai-head{
    background-color: #f5f5f5;
}
.exp-container .manage-head{
    background-color: #e6b95f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.exp-container .report-head{
    background-color: #ebe1cd;
}
.promotion{
    padding:80px 0 80px 0;
    background-color: #231e15;

}
.promotion_main{
    width: 90%;
    max-width: calc(88.8889rem * .9);
    margin:0 auto;
}
.promotion_main .promotion_div{
    padding: 64px;
    display: grid;
    column-gap: 8.3333%;
    grid-template-columns: 33.333% 58.333%;
}
.promotion_main .promotion_left{
    padding-bottom: 64px;
}
.promotion_main .promotion_left h2{
    font-family: var(--font-fontone);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1;
    color: #fff;
    letter-spacing: -0.03125rem;
    padding-bottom: 16px;
}
.promotion_main .promotion_left p{
    font-family: var(--graphik-web);
    font-size: 1.5rem;
    line-height: 1.333;
    color: #fff;
    letter-spacing: -.02rem;
    font-weight: 400;
}
.promotion_main .promotion_right{
    display: grid;
    grid-template-columns: 42.8571% 42.8571% ;
    margin-right: 0;
    column-gap: 14.2857%;
    row-gap: 64px;
}
.promotion_main .promotion_con{
    padding: 24px;
    display: block;
    margin: -24px;
}
.promotion_main .promotion_con h3{
    font-weight: 500;
    font-family: var(--font-header);
    font-size: 1.5rem;
    line-height: 1.333;
    color: #fff;
    letter-spacing: -0.02rem;
}
.promotion_main .promotion_con .con_p{
    margin-top: 8px;
}
.promotion_main .promotion_con p{
    font-family: var(--graphik-web);
    font-size: 1em;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
}
.product_tour{
    background-color: #fff;
    padding: 80px 0 80px 0; 
}
.product_tour .product_main{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: calc(88.8889rem * .9);
    margin:0 auto;
}
.product_main .product_left{
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    /* align-items: center; */
    max-width: 100%;
    flex: 1;
}
.product_main .product_left .product_head{
    font-size: 2.5rem;
    line-height: 1.2;
    font-family: var(--font-fontone);
    font-weight: 400;
    color: #231e15;
    letter-spacing: -.03125rem;
}
.product_main .product_left .product_content{
    font-size: 1em;
    line-height: 1.6;
    margin-top: 24px;
    color: #231e15;
    font-family: var(--graphik-web);
}
.product_gap{
    max-width: 83.3333%;
    margin-right: 16.6667%;
}
.product_margin{
    margin-top: 24px;
}
.learn_more .learn_text{
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
    color: #231e15;
    z-index: 1;
    border-radius: 2em;
    padding-right: 2.5rem;
    line-height: 2rem;
    text-decoration: none;
    transition: color .15s ease-in-out, transform .3s;
    position: relative;
    transform: translate(0);
}
.learn_more .learn_text::before{
    content: "";
    z-index: -1;
    background-color: #ffe01b;
    background-image: url(./Assets/arrowright.svg);
    background-position: calc(100% - 7px) calc(100% - 7px);
    background-repeat: no-repeat;
    background-size: 1.125rem;
    border-radius: 1rem;
    height: 2rem;
    transition: left .3s cubic-bezier(.34,1.2,.64,1), right .3s, background-position .3s;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: calc(100% - 2rem);
}
.product_tour .product_img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 100%;
    flex: 1;
}
.product_tour .product_img img{
    border-radius: 1.625rem;
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}
.membership_section{
    min-width: 62em;
    padding-bottom: 2rem;
    min-height: 31.25rem;
    background-color: #f5f5f5;
}
.membership_main{
    display: flex;
    align-items: center;
    column-gap: 6%;
    width: 90%;
    max-width: calc(88.8889rem * .9);
    margin: 0 auto;
}
.membership_main .membership_left{
    text-align: left;
    min-width: 28.125rem;
    display: flex;
    flex-flow: column;
    width: 100%;

}
.membership_main .membership_left h2{
    margin-bottom: 24px;
    font-family: var(--font-fontone);
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
    color:#231e15;
    letter-spacing: -.0625rem;
}
.membership_main .membership_left em{
    font-style: var(--font-fontone);
}
.membership_left .membership_para{
    margin-bottom: 24px;
    
}
.membership_left .membership_para p{
    font-size: 1rem;
    font-family: var(--graphik-web);
    line-height: 1.75;
    font-weight: 400;
}
.membership_left .membership_para a{
    color: #231e15;
    text-decoration: underline;
}
.membership_main .membership_list{
    margin-bottom: 24px;
    columns: 2;
}
.membership_list li{
    color: #231e15;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 0.8125rem;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: 0.625rem;
    margin-right: 0.625rem;
}
.membership_list li img{
    background-color: #ffe01b;
    border-radius: 50%;
    width: 0.625rem;
    min-width: 0.625rem;
    height: 0.625rem;
    margin-right: 0.75rem;
    padding: 0.3125rem;
}
.membership_main .see_all{
    margin: 24px 0;
}
.membership_main .membership_right{
    min-width: 20.625rem;
    max-width: 23.125rem;
    width: 100%;
}
.membership_right .currency_main{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.membership_right .currency_div{
    display: inline-block;
    padding-right: 1.25rem;
    margin-right: 8px;
    position: relative;
}
.currency_div::after{
    content: "";
    background-image:url('./Assets/arrowdown.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size:12px 6px ;
    width: 12px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 2.5rem;
}
.currency_div select{
    color: #231e15;
    text-align: right;
    padding-top: 2rem;
    padding-bottom: .5rem;
    padding-right: 1.5rem;
    font-family: var(--graphik-web);
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.25rem;
    border: none;
    width: calc(100% + 1.25rem);
    background: 0 0;
    appearance: none;
    position: relative;
}
.membership_right .Standard_main{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    background: #fff;
    box-shadow: 0 0 1.25rem 0.1875rem rgba(35,30,21,.15);
}
.Standard_main .Standard_main_div{
    width: 100%;
    min-width: 18.75rem;
}
.Standard_main .Standard_main_div h2{
    margin-bottom: 16px;
    font-family: var(--font-fontone);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1;
    color: #231e15;
    letter-spacing: -.03125rem;
}
.Standard_main .Standard_main_div p{
    margin-bottom: 16px;
    font-family:var(--graphik-web);
    font-size: 1rem;
    line-height: 1.75;
    color:#403b3b;
    font-weight: 400;
}
.Standard_main_div .standard_form{
    margin-bottom: 0.625rem;
}
.standard_form form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    flex-wrap: wrap;
    border: 0.0625rem solid rgba(35, 30, 21, .3);
    border-radius: 0.625rem;
    overflow: hidden;
}
.standard_form label{
    font-family: var(--graphik-web);
    font-size: 0.8125rem;
    line-height: 1.25;
    color: #403b3b;
    font-weight: 400;
}
.standard_form .form_select{
    border-radius: 0.625rem;
    background-color: #fff;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.standard_form .form_select select{
    box-sizing: content-box;
    border-bottom: unset;
    text-align: right;
    height: 1.75rem;
    padding: .5rem 3rem .5rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--font-fontone);
    border: none;
    appearance: none;
    line-height: normal;
}
.form_select::after{
    content: "";
    background-image: url('./Assets/arrowdown.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 0.9375rem 0.6875rem;
    position: absolute;
    width: 19px;
    height: 11px;
    position: absolute;
    top: 1.125rem;
    right: 0.75rem;
}
.membership_right .offer_main{
    width: 100%;
    min-width: 18.75rem;
}
.offer_main .offer_top{
    text-align: left;
}
.offer_main .offer_topdiv{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
    background: #fff;
    border: 0.0625rem solid #bcbab6;
    border-radius: 0.625rem;
    flex-flow: column wrap;
    width: 100%;
    margin-bottom: 0;
    padding: 0.5rem;
    
}
.offer_main .offer_save{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.625rem;
    width: 100%;
}
.offer_main .offer_save{
    font-size: .8125rem;
    font-weight: 500;
    font-family: var(--font-header);
    line-height: 1.35;
}
.offer_main .offer_price{
    font-size: .8125rem;
    text-align: left;
}
.offer_main .offer_month{
    margin-top: .1875rem;
}
.offer_main .offer_575{
    display: flex;
}
.offer_main .offer_pricetxt{
    font-family: var(--font-fontone);
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
}
.offer_main .offer_rs{
    margin-top: .4375rem;
}
.offer_main .offer_monthtxt{
    margin-left: 0.25rem;
}
.offer_main .offer_start_at{
    margin-top: 0.25rem;
    font-family: var(--graphik-web);
    color: rgba(35, 30, 21, .65);
}
.offer_main .offer_1150{
    font-weight: 500;
    font-family: var(--font-header);
}
.membership_right .buy_now{
    margin-bottom:16px;
    margin-top: 2rem;
}
.buy_now .boy_now_div a{
    text-align: center;
    box-sizing: border-box;
    color: #231e15;
    background: #ffe01b;
    font-family: var(--font-header);
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 12px 24px;
    border-radius: 26px;
    box-shadow: 0 0 0 1 #231e15;
    border: none; 
    text-decoration: none;
    transition: transform .3s cubic-bezier(.5,2.5,.7,.7), box-shadow .3s cubic-bezier(.5,2.5,.7,.7);
    position: relative;
    transform: translateY(0);
    display: block;
    border: 1px solid #231e15;

}
.buy_now .boy_now_div a::before{
    content: "";
    border-radius: 2em;
    width: 100%;
    height: 100%;
    transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    position: absolute;
    bottom: 0;
    left: 0;
}
.membership_right .see_terms{
    text-align: left;
    font-size: 0.8125rem;
    line-height: 1.25;
    color: #403b3b;
    font-weight: 400;
}
.membership_right .offer_terms{
    border-bottom:0.0625rem dashed #231e15;
}
.see_terms a{
    color:#403b3b;
    text-decoration: underline;
}
.integration_section{
    padding: 80px 0 80px 0;
    background: #fff;  
}
.integration_heading{
    margin-left: 5%;
    width: 90%;
    max-width: 640px;
    /* margin: 0 auto; */
}
.integration_heading h2{
    margin-bottom: 16px;
    font-family: var(--font-fontone);
    font-weight: 400;
    font-size: 2.5rem;
    line-height:1;
    color: #231e15;
    letter-spacing: -.03125rem;
}
.integration_section .integration_content{
    width: 90%;
    max-width: 1280px;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 40px;
}
.integration_content ul{
    display: flex;
    gap: unset;
    padding-bottom: 40px;
    flex-wrap: wrap;
}
.integration_content .integration_list{
    width: 33.333%;
    display: flex;
    justify-content: center;

}
.integration_content ul li:hover{
    background-color: #f5f5f5;
}
.integration_content ul li a{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    box-sizing: border-box;
    padding: 24px;
    width: 100%;
}
.integration_content img{
    max-width: 96px;
    height: auto;
}
.integration_element h3{
    text-align: left;
    padding: 4px 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
    color: #231e15;
    font-family: var(--font-header);
}
.integration_element p{
    display: flex;
    font-family: var(--graphik-web);
    font-size: 0.8125rem;
    line-height: 1.25;
    font-weight: 400;
    text-align: left;
    color: rgba(35,30,21,.65);
}
.millions{
    padding: 80px 0 80px 0;
    background-color: #231e15;
}
.millihd{
   width: 864px;
   max-width: 853.333px;
   margin: 0 auto;
   text-align: center;
}
.millihd h2{
    font-family: var(--font-fontone);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1;
    color: #fff;
    letter-spacing: -.03125rem;
} 
.millihd .trans{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.disclaimer{
    padding: 40px 0;
    background-color: #f5f5f5;
}
.disclaimer .disclaimer-list{
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    font-family:var(--graphik-web);
    font-size: .6875rem;
    line-height: 1.45;
    color: #231e15;
    font-weight: 400;
}
.disclaimer-list strong{
    font-weight: 500;
    font-family: var(--font-header);
}
.footer_section{
    padding: 60px 0 60px 0;
    background-color:#e7b75f ;
}
.footer_section .footer_first_div{
    width: 90%;
    padding: 0 30px;
    margin: 0 auto;
}
.footer_first_div ul{
    display: flex;
    justify-content: center;
}
.footer_first_div .footer_first_con{
    padding: 0 1rem;
    margin-bottom: 0.625rem;
}
.footer_first_div .footer_first_con h3{
    font-family: var(--graphik-web);
    font-size: 1em;
    color: #231e15;
    font-weight: 400;
    margin-bottom: auto;
}
.footer_first_div .footer_first_con a{
    color: #231e15;
    font-size: .8125rem;
    font-weight: 400;
    text-decoration: underline;
}
.first_hr{
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    border: 0;
    width: 100%;
    height: .0625rem;
    padding: 0;
    background-color: rgba(35, 30, 21, .3);
}
.second_hr{
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    border: 0;
    width: 100%;
    height: .0625rem;
    padding: 0;
    background-color: rgba(35, 30, 21, .3);
}
.footer_section .footer_mid_div{
    width: 90%;
    padding: 0 1.875rem;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 100rem;
}
.footer_mid_div .footer_mid_con{
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    max-width: 75rem;
    margin: 0 auto;
}
.footer_mid_con .footer_con{
    width: auto;
    padding: 0 0.625rem;
    box-sizing: border-box;
    margin-bottom: 2.5rem;
}
.footer_mid_con .footer_con h3{
    margin-bottom: 24px;
    font-family:var(--graphik-web) ;
    font-size:1em;
    line-height: 1.5;
    color: #231e15;
    font-weight: 400;
}
.footer_mid_con .footer_con li{
    margin-bottom: 0.625rem;
}
.footer_mid_con .footer_con a{
    color: #231e15;
    font-size: .8125rem;
    font-weight: 400;
    text-decoration: underline;
}
.footer_mid_con .mailchimp_div{
    width: 14.375rem;
}
.footer_mid_con .mailchimp_div img{
    max-width: 80%;
    margin-bottom: 0.5rem;
    height: auto;
}
.footer_mid_con .mailchimp_div .mailchimp_para{
    font-family: var(--times-roman);
    font-size: .8125rem;
    font-weight: 300;
    line-height: 1.5;
    color: #231e15;
}
.footer_mid_con .mailchimp_div .check_it{
    margin-top: 0.75rem;
    font-family: var(--font-header);
    
}
.footer_mid_con .mailchimp_div .check_it a{
    text-decoration: none;
}
.footer_last{
    width: 90%;
    padding: 0 1.875rem;
    margin:  0 auto;
    box-sizing: border-box;
}
.footer_last .footer_last_mid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer_last_mid .footer_logos{
    margin: 0 0 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer_last_mid .footer_logos .intuit{
    width: 80px;
    height: 16px;
}
.footer_last_mid .footer_logos .turbo{
    width: 76px;
    height: 17px;
}
.footer_last_mid .footer_logos .credit{
    width: 98px;
    height: 17px;
}
.footer_last_mid .footer_logos .quickbook{
    width: 95;
    height: 18;
}
.footer_last_mid .footer_logos .mailchimp{
    width: 88;
    height: 18;
}
.footer_last_mid .footer_logos li{
    display: flex;
    justify-content: center;
    margin: 1.25rem .75rem 0;
}
.footer_last .footer_stores{
    display: flex;
    width: fit-content;
    max-width: 28%;
    margin: 0 .625rem;
    justify-content: center;
    align-items: center;
}
.footer_last .footer_stores img{
    max-width: 85%;
    height: auto;
}

.footer_last .footer_stores li{
    display: flex;
    justify-content: center;
}
.footer_last .social_media{
    margin: 0 1.875rem;
    display: flex;
    flex-wrap: wrap;
} 
.footer_last .social_media li{
    margin: 0 0.75rem;
}
.social_media img{
    height: auto;
}
.footer_gdpr{
    margin: 0 1.875rem;
}
.footer_gdpr img{
    max-width: 100%;
    height: auto;
}
.footer_end{
    padding: 0 10%;
    width: 75%;
    margin: 3rem 0.625rem 0;
    display: flex;
    flex-wrap: nowrap;
}
.footer_end .footer_language{
    width: 25%;
    padding-right: 4.5rem;
    margin-bottom: 0.75rem;
}
.footer_end .footer_select{
    width: 100%;
    border: 1px solid #231e15;
    padding-right: 1.875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.footer_end .footer_select select{
    display: inline-block;
    color: #231e15;
    box-sizing: border-box;
    border: none;
    outline: none;
    width: calc(100% + 1.875rem);
    padding: 0.625rem;
    font-family: var(--graphik-web);
    font-size: 0.875rem;
    font-weight: 500;
    appearance: none;
    background-color: #e7b75f;
}
.footer_end .footer_select::after{
    content: "";
    z-index: 1;
    background-image: url('./Assets/arrowdown.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 12px 6px;
    width: 12px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.625rem;
}
.footer_last .footer_copyrights{
    width: fit-content;
    
}
.footer_last .footer_copyrights p{
    font-family:var(--graphik-web);
    font-size: 0.6875rem;
    line-height:1.45455;
    color: #231e15;
    font-weight: 400;
}
.footer_last .footer_copyrights a{
    color: #231e15;
    font-weight: 700;
    text-decoration: underline;
    font-family: var(--graphik-web);
}
@media screen and (max-width:1024px){
    .top_section {
        display: none;
    }
    .laptop_1440{
        display: none;
    }
    .laptop_1024{
        display: block;
    }
    .hideon768{
        display: block;
    }
    .menu_bar .menu_bar_btn{
        color: #231e15;
        cursor: pointer;
        background: 0;
        border: none;
        border-radius: 0.1875rem;
        padding: 0.5rem;
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 1.1;
        display: inline-block;
    }
    .menu_bar .menu_bar_btn::before{
        content: "";
        background-image: url('./Assets/burger_menu.svg');
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 1.875rem;
        height: 1.25rem;
        display: inline-block;
    }
    .left_ul_margin a{
        color: #231e15;
        cursor: pointer;
        background: none;
        border: none;
        border-radius: 0.1875rem;
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 1.1;
        font-family: var(--font-header);
    }
    .e-con h1{
        font-size: 3.6vw;
    }
    .img-container h2{
        color: #231e15;
        font-size: 2.25vw;
        line-height: 1.333;
        width: 88%;
        top: 15px;
        left: 15px;
    }
    .auto{
        padding: 16px;
    }
    .promotion_main .promotion_left h2{
        font-size: 3vw;
    }
    .membership_main .membership_left h2{
        font-size: 3.6vw;
    }
    .Standard_main .Standard_main_div h2 {
        font-size: 3vw;
    }
    .integration_heading h2{
        font-size: 3vw;
    }
    .integration_heading{
        width:45%;
    }
    .millihd h2{
        font-size: 3vw;
    }
    .millihd{
        width: 59.999%;    
    }
    .footer_first_div .footer_first_con h3{
        white-space: nowrap;
    }
    .footer_first_con a {
        white-space: nowrap;
    }
    .footer_first_div ul{
        flex-wrap: wrap;
    }
    .footer_mid_con .footer_con a{
        white-space: nowrap;
    }
    .footer_mid_con .mailchimp_div img{
        max-width: 100%;
    }
    .footer_mid_con .mailchimp_div {
        width: 12.5rem;
    }
    .footer_last_mid .footer_logos {
        margin: 0 0 2.5rem;
    }
    .footer_last .footer_stores{
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .footer_last .footer_stores li{
        display: inline-block;
    }
    .footer_last .footer_stores li a{
        padding: 1.875rem .75rem .3125rem;
    }
    .footer_last .footer_stores img{
        
        max-width: 80%;
        height: auto;
    }
    .footer_last .social_media {
        justify-content: space-evenly;
        margin: 0 .625rem;
    }
    .footer_last .social_media li a{
        padding: 1.5625rem .5rem .625rem;
    }
    .footer_last .social_media li {
        margin: 0;
    }
    .footer_gdpr {
        margin: 0 .625rem;
    }
    .footer_end{
        margin: 2rem .625rem 0;
        width: 100%;
        padding: 0;
    }
    .footer_end .footer_language {
        width: 35%;
    }
    .footer_last{
        padding: 0;
    }

}
@media screen and (max-width:768px){
    .hideon425{
        display: block;
    }
    .membership_main{
        flex-direction: column;
        width: 85%;
    }
    .membership_section {
        min-width: 23.4375em;
        padding:60px 0 80px 0 ;
        min-height: 31.25rem;
    }
    .footer_mid_div .footer_mid_con {
        flex-flow: wrap;
    }
    .footer_mid_con .footer_con{
        width: 33.333%;
    }
    .e-con h1 {
        font-size: 6vw;

    }
    .email1 .e-wrap {
        max-width: 1280px;
        width: 85%;
        margin: 0 auto;
    }
    .hideon768{
        display: none;
    }
    .auto-head, .ai-head, .manage-head, .report-head {
        padding: 40px;
    }
    .auto {
        padding: 16px 0 0 0;
    }
    .zoom-container{
        margin-top: 24px;
    }
    .images_heading{
        height: 61px;
    }
    .img-container h2{
        position:relative;
        font-family: var(--font-fontone);
        font-size: 3vw;
        font-weight: 400;
        color: #231e15;
        line-height: 1.333;
        letter-spacing: 0;
        top: 0;
        left: 0;
        width: 100%;
    }
    .promotion_main {
        width: 85%;
        max-width: 1280px;
        margin: 0 auto;
    }
    .promotion_main .promotion_div {
        display: block;
    }
    .promotion_main .promotion_left h2 {
        font-size: 5vw;
    }
    .promotion_main .promotion_right {
        grid-template-columns: 50% 50%;
        column-gap: 0;
    }
    .promotion_main .promotion_right li{
        padding-right: 64px;
    }
    .product_tour {
        margin: 0.75rem;
        background-color: #f6f6f4;
    }
    .product_tour .product_main {
        width: 85%;

    }
    .product_main .product_left {
        flex: 100%;
    }
    .product_tour .product_img{
        flex: 100%;
        margin-top: 40px;
    }
    .membership_main .membership_left{
        text-align: center;
        min-width: 18.75em;
    }
    .membership_main .membership_left h2{
        font-size: 6vw;
    }
    .membership_main .membership_list {
        columns: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .membership_main .membership_right{
        width: 100%;
        min-width: 18.75em;
        max-width: 100%;
    }
    .standard_hddiv{
        display: flex;
        column-gap: 10%;
    }
    .Standard_main .Standard_main_div {
        width: 45%;
        min-width: 15.625rem;
    }
    .Standard_main .Standard_main_div h2{
        font-size: 5vw;
    }
    .membership_right .offer_main {
        width: 45%;
        min-width: 15.625rem;
    }
    .offer_main .offer_price {
        text-align: center;
    }
    .membership_right .see_terms {
        text-align: center;
    }
    .membership_main .see_all{
        margin: 40px 0 0 0;
    }
    .integration_heading{
        margin-left: 7.5%;
        width: 85%;
        max-width: 1280px;
    }
    .integration_heading h2 {
        font-size: 5vw;
    }
    .integration_content .integration_list {
        width: 50%;
    }
    .integration_section .integration_content {
        width: 85%;
    }
    .integration_element p{
        display: flex;
    }
    .integration_list.hideon768{
        display: none;
    }
    .millihd {
        width: 85%;
    }
    .millihd h2 {
        font-size: 5vw;
    }
    .disclaimer .disclaimer-list {
        width: 90%;
    }
    .footer_section .footer_mid_div {
        padding: 0;
    }
    .footer_section {
        padding: 50px 0 50px 0;
        background-color: #e7b75f;
    }
}
@media screen and (max-width:425px){
    .hideon425{
        display: none;
    }
    .membership_section {
        padding: 60px 0 48px 0;
    }
    .membership_main .membership_left h2{
        margin-bottom: 16px;
        font-size: 9.6vw;
    }
    .membership_left .membership_para {
        margin-bottom: 16px;
    }
    .membership_main .membership_list{
        display: none;
    } 
    .standard_hddiv {
        flex-direction: column;
    }
    .membership_right .offer_main,.Standard_main .Standard_main_div{
        width: auto;
    } 
    .footer_last {
        width: 100%;
        max-width: 100rem;
    }
    .footer_last_mid .footer_logos{
        flex-wrap: wrap;
        align-items: center;
        width: 64.2857%;
        margin: 0 auto;
        justify-content: center;
    }
    .footer_last_mid .footer_logos .intuit_list{
        width: 100%;
    }
    .footer_last .footer_stores li {
        display: flex;
        justify-content: center;
        width: fit-content;

    }
    .footer_last .footer_stores{
        margin: 2rem .625rem 0;
        justify-content: space-around;
        max-width: none;
        width: fit-content;
    } 
    .footer_last .footer_stores li a{
        padding: 1rem;
    } 
    .footer_last .footer_stores img {
        max-width: 100%;
        width: 135px;
        height: 2.75rem;
    }
    .footer_last .social_media {
        width: fit-content;
        margin: 2rem .625rem 0;
    }
    .footer_last .social_media li a{
        padding: .9375rem;
    } 
    .footer_gdpr{
        width: fit-content;
        margin: 2rem .625rem 0;
    } 
    .footer_end{
        width: 85.7143%;
        display: flex;
        flex-wrap: wrap;
    } 
    .footer_end .footer_language{
        width: 334px;
        padding-right: 0;
    } 
    .footer_last .footer_copyrights {
        width: auto;
        margin-top: 2rem;
    } 
    .footer_section {
        padding: 40px 0 40px 0;
    } 
    aside a::before{
        content: "\a";
        white-space: pre;
    }
    .e-con h1 {
        font-size: 9.6vw;
    }
    .e-con p{
        font-size: 1.125rem;
    }
    .email1 .email-con {
        text-align: center;
    }
    .email1 {
        padding: 108px 0 48px 0;
    }
    .e-con p{
        margin-top: 12px;
    }
    .sign-up_marginT{
        margin-top: 24px;
    }
    .images .img-container{
        grid-template-columns: repeat(1,100%);
    }
    .img-container h2{
        font-size: 4.5vw;
    } 
    .auto-head, .ai-head, .manage-head, .report-head{
        padding: 24px;
    } 
    .images_heading{
        height: auto;
    }
    .zoom-container {
        margin-top: 16px;
    }
    .promotion {
        padding: 48px 0 48px 0;
    }
    .promotion_main .promotion_div{
            padding: 32px;
    } 
    .promotion_main .promotion_left {
        padding-bottom: 2.5rem;
    }
    .promotion_main .promotion_left h2 {
        font-size: 7.5vw;
    }
    .promotion_main .promotion_right{
        display: flex;
        flex-wrap: wrap;
        padding-left: 48px;
        row-gap: 0;
    }  
    .promotion_main .promotion_right li{
        padding-right: 0;
        margin-bottom: 2.5rem;
    } 
    .promotion_main .promotion_con {
        padding: 16px;
        margin: -16px;
    }
    .promotion_main .promotion_con h3 {
        font-size: 1.125rem;  
    }
    .promotion_main .promotion_left p {
        font-size: 1.125rem;
    }
    .product_tour{
        padding: 48px 0 48px 0;
    }
    .product_main .product_left .product_content {
        margin-top: 16px;
        font-size: 1.125rem;
    }
    .product_main .product_left .product_head {
        font-size: 1.75rem;
    }
    .product_tour .product_img{
        margin-top: 24px;
    }
    .product_gap {
        max-width: none;
        margin-right: 0;
    }
    .Standard_main .Standard_main_div h2 {
        font-size: 7.5vw;
    }
    .integration_section{
        padding: 48px 0 48px 0;
    }
    .integration_heading h2 {
        font-size: 7.5vw;
        margin-bottom: 12px;
    }
    .integration_section .integration_content{
        margin-top: 24px;
    }
    .integration_content ul {
        padding-bottom: 24px;
        gap: 12px;
    }
    .integration_content .integration_list{
        width:168.625px;
        background: #f6f6f4;
    }
    .integration_content ul li a {
        padding: 16px;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    } 
    .integration_content img{
        max-width: 64px;
    }
    .integration_element h3{
        text-align: center;
        padding-top: 12px;
    }
    .integration_element p{
        display: none;
    }
    .millions {
        padding: 48px 0 48px 0;
    }
    .millihd h2{
        font-size: 7.5vw;
    }
    .millihd .trans {
        margin-top: 24px;
    }
    .disclaimer {
        padding: 24px 0;
    }
    .footer_section{
        padding: 40px 0 40px 0;
    }
    .footer_section .footer_first_div {
        width: 100%;
        box-sizing: border-box;
    }
    .footer_first_div ul{
        display: block;
    }
    .footer_section .footer_mid_div{
        width: 100%;
        padding:0 30px;
    }
    .footer_mid_con .footer_con{
        float: left;
        width: 50%;
        padding:0  1.25rem 0 0;
    }
    .footer_mid_con .footer_con h3{
        margin-bottom: 16px;
    }
    .footer_first_div .footer_first_con{
        padding: 0;
    }
    .footer_mid_div .footer_mid_con{
        display: block;
    }
    .company{
        clear: left;
    }
    .footer_mid_con .mailchimp_div{
        clear: left;
        width: 100%;
        padding-right: 1.25rem;
    }     
}