body{
     font-family: Means Web, Georgia, Times, Times New Roman, serif;
   
    line-height: 1.35;
    min-height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}
.top_section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.brandLogoIntuit{
    padding: 7px 20px;
}
.coBrandedNav  svg path:not(.svg_logo) {
    fill: #575757;
}
.brandLogoMailchimp{
    padding-left: 20px;
}
aside{
    font-size: .8125rem;
    display: flex;
    color: #fff;
    text-align: center;
    background-color: #231e15;
    height: auto;
    padding: .75rem 1rem;
    align-items: center;
    justify-content: center;
}
aside a{
    color: #fff;
    border-bottom: .0625rem dashed;
    text-decoration: none;
}
aside a:hover{
    border-bottom: none;
}
nav{
    background-color: white;
}
nav .mc_logo{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 30px; */
}
nav .right-flex{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.solution ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mc_logo svg{
    width: 140px;
    padding: 3px 0px 0px 17px;
}
.mobile-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
.mobilelogo{
    display: flex;
}
.pricemenu{
    display: flex;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 80vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    margin-top: 90px;
    padding-top:30px ;
}
.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
}
.menu-btn{
    display: none;
}
.dropdown{
    display: flex;
}
 .dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}
.dropcontent {
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropcontent {
    display: block; 
}
#languageSelect {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.world {
    display: flex;
    align-items: center;
}
.world span {
    margin-right: 5px;
    font-size: 15px;
}
.right-end li{
    list-style-type:  none; 
}
.log-in a{
    text-decoration: none;
    border: 1px solid;
    border-radius: 26px;
    padding: 15px 30px;
}
.sign-up{
    margin-left: 10px;
    margin-right: 10px;
}
.sign-up a{
    background-color: #ffe01b;
    text-decoration: none;
    border: 1px solid;
    border-radius: 26px;
    padding: 15px 30px;
}
.nav_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-item {
    position: relative;
    padding-left: 20px;
}

.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    padding: 10px;
    background-color: #f9f9f9;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    min-width: 200px;
    width: 90vw;
    top: 50px;
    left: -150px;
    height: 70vh;
}

.dropdown-content a {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #eee;
}

.dropdown-item.open .dropdown-content {
    display: flex;
}

.dropdown-item.open .arrow-icon {
    transform: rotate(180deg);
}
.solution{
        display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: -250px; */
}
.alignlines{
    display: flex;
    padding: 35px;
    align-items: center;
    justify-content: flex-start;
}
.alignlines img {
    width: 1.875rem;
    padding-right: 1rem;
    height: 1.45rem;
}
.industry li , .industry h4{
    padding-top: 35px;
    padding-left: 20px;
}
.industry ul{
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}
.email h1{
    font-size: 35px;
    font-weight: 400;
}
.arrow_forward{
        padding: 5px;
    background-color: #ffe01b;
    border-radius: 100%;
}
.align{
    margin-left: auto;
}
.para{
        color: rgba(30, 35, 21, 0.65);
}
.left_section{
    width: 50%;
    float: left;
}
.left_section .section_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logos img{
    width: 3.175rem;
    height: auto;
    padding: 20px;
    box-shadow: 0 .25rem .75rem rgba(36, 28, 21, .12);
    border-radius: .5rem;
}
.logos ul{
    display: flex;
    list-style-type: none;
}

.logo-side{
    flex-direction: column;
     list-style-type: none;
}
.logo-side p{
    padding: 10px;
}
.left_section .section_down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intregration-con{
    display: flex;
    flex-direction: row;
}
.right_section ul{
    list-style-type: none;
}
.right_section .pad{
    padding-top: 10px;
}
.left_section .pad{
    padding-top: 10px;
}
.right_top{
    padding-left: 40px;
    padding-top: 40px;
}
.right_top p{
    font-size: 15px;
}
.section_top p{
    font-size: 30px;
}
.logos p{
    padding-bottom: 20px;
}
.resource_left{
    width: 50%;
}
.res_top{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.res_down{
    
    display: flex;
    justify-content: space-between
}
.alignlines1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px 20px 15px
}
.alignlines1 img{
    width: 1.175rem;
    padding-right: 1rem;
    height: 1.15rem;
}
.first_list p{
    font-size: 15px;
    font-weight: 600;
}
.res_top p{
    font-size: 40px;
}
.res_down ul,.resource_right ul{
    list-style-type: none;
}
.first_list .pad{
    padding-top: 20px;
}
.second_list p{
    font-size: 15px;
    font-weight: 600;
}
.second_list .pad{
    padding-top: 20px;
}
.resource_right{
    padding-left: 30px;
    padding-top: 40px;
}

@media screen and (max-width: 800px){
    .hideonmobile{
        display: none;
    }
    .menu-btn{
    display: flex;
    }
    .log-in a{
        padding: 8px 30px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sign-up a{
        padding: 7px 30px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .end{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
    }
    .top li{
    padding: 20px 0px;
    }

    .end li{
        padding: 15px 0px;
    }
    .mobile-right {
        margin-left: auto;
        display: flex;
    }
    .left-end{
        width: -webkit-fill-available;
    }

}